@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav-button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  margin-top: 5px;
  margin-left: 5px;
  gap: 1rem;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-main-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.section-main-title {
  margin: 0;
  font-size: 3rem;
  font-family: "Finger Paint", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.section-main-button-container {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

.section-main-button-img {
  width: 30px;
}

.section-main-image-container {
  width: 40%;
}

.section-main-image {
  width: 100%;
}

.section-interlude {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.portfolio-container-secction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.portfolio-container-specific{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  margin-top: 3rem;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: fit-content;
}

.portfolio-container-text-continer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -30rem;
  height: 0;
}

.portfolio-container-title {
  color: white;
  font-size: 4rem;
  text-decoration: none
}

.portfolio-container-text {
  color: white;
  font-size: 2rem;
  text-decoration: none
}

.kofee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none
}


.button-55 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  font-family: "Finger Paint", sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
