/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 35px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000000;
  }

.nav-links {
    width: 100%;
    top: 2rem;
    left: 30px;
    display: none;
  }

  .nav-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    color: #ff9776;
  }

  .expanded {
    display: unset;
  }

  @media screen and (width >= 636px) {
    .hamburger {
        display: none;
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background: none;
      border-bottom: 1px solid rgb(222, 220, 220);
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
