---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/about.css";
import '@fontsource/mansalva';
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="section-container">
    <div class="section-main-data-container">
      <h1 class="title-special">¿Quién soy?</h1>
      <p>
        Soy una artista venezolana residenciada en cualquier parte del mundo
        gracias al internet. Voy por la vida dibujando a la gente. Y ¿por qué
        dibujo? <br /><br />
        Porque así siempre puedo CREAR de la nada. No hay escasez que me afecte.<br
        />
        Porque dibujando puedo ser quien quiera, cuando quiera.<br />
        Porque puedo crear héroes y villanos. O retratar personas reales haciendo
        cosas increíbles.<br />
        Porque por así puedo viajar a muchos sitios, reales o imaginarios, sin necesidad
        de pasaporte.<br />
        Porque puedo soñar despierta mientras trabajo.<br />
        Porque alcanzar los sueños DIBUJANDO, definitivamente es mi definición de
        plenitud y felicidad.<br />
        Porque puedo SER LIBRE.<br /><br />
        ¿Por qué "Señora" Doodle?<br />
        Como buena millennial, siempre he sido alérgica a los términos, señora, señorita,
        dama...<br />
        ser nombrada o llamada en sociedad según mi "status" cronológico y/o civil,
        siempre me ha parecido de lo más extraño...<br />
        Curiosamente, a medida que pasaba el tiempo, dejó de molestarme. Y descubrí,
        que el término "señora" también tiene poderes mágicos.<br />
        Desde provocar casi inmediatamente que cualquier malvado se congele ante
        mi expresión de Señora Gorgona, hasta el poder desligarme un poco de la feroz
        competitividad juvenil de los recién graduados en el campo de las artes.<br
        />
        Es que nadie va a querer competir con una señora...<br />
        pero sí le pedirán consejo (aunque servidora quizá sea igual o casi tan joven
        como ellos) Además, después de casi 1 año de crisis existencial, me empiezan
        a agradar los 30.<br />
        Señora Doodle, para servirles.
      </p>
    </div>
    <div class="section-main-image-container">
      <img
        class="section-main-image"
        src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Bioimg.PNG"
        alt="mainImage"
        class="aboutimg"
      />
    </div>
  </section>
</BaseLayout>
