---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/home.css";
import "@fontsource/mansalva";
import "@fontsource-variable/quicksand";
import "@fontsource-variable/merriweather-sans";
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="section-container">
    <div class="section-main-data-container">
      <a
        href="https://www.instagram.com/senora_garabato/"
        target="_blank"
        rel="noreferrer"
        class="button-cover"
        style="width: 20.5rem; margin-top: 0rem; margin-bottom: 2rem;"
      >
        <img
          class="button-cover-img"
          src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/insta.PNG"
          alt="mainImage"
        />
        Sigueme en instagram
      </a>
      <h1 class="title-special-home" style="margin-bottom: 0;">
        Señora Garabato
      </h1>
      <h2 style="margin-bottom: 2rem ;" class="list-special">
        Ilustración | Diseño de personajes | Animación
      </h2>
      <a style="margin-top: 2rem;" href="/tienda" class="button-cover">
        <img
          class="button-cover-img"
          src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/pencil.PNG"
          alt="mainImage"
        />
        Dibújame
      </a>
    </div>
    <div class="section-main-data-container">
      <video controls width="360" height="600">
        <source
          src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/Videos/Video+concertido.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
  </section>
  <div class="section-interlude">
    <p class="normal-text" style="margin-top:1rem;">
      "Soy una artista venezolana residenciada en cualquier parte del mundo
      gracias al internet. Voy por la vida dibujando a la gente."
    </p>
    <h2 class="normal-text">Mirwil Mejias</h2>
  </div>

  <section class="section-container">
    <div class="portfolio-container-specific">
      <a
        href="https://ko-fi.com/mrsdoodle"
        target="_blank"
        rel="noreferrer"
        class="kofee-container"
      >
        <img
          src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/Videos/IMG_7337.GIF"
          alt="mainImage"
          style="width: 18rem; height: 16rem"
        />
        <h2 class="list-special">Sigueme en Ko-fi</h2>
      </a>
    </div>
  </section>

  <section class="section-container">
    <div class="portfolio-container-specific">
      <div class="portfolio-image">
        <a  href="/portfolio">
          <img
            src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/PortfolioImg.JPG"
            alt="mainImage"
            style="width: 100%"
          />
        </a>
        <div class="portfolio-container-text-continer">
          <h1 class="title-special-home">Mi portafolio</h1>
          <div>
            <a href="/portfolio" class="list-special">Ilustraciones |</a>
            <a href="/portraits" class="list-special">| Retratos</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
