---
import Greeting from "../components/Greeting";
import "../styles/global.css";
import "@fontsource/mansalva";
import '@fontsource-variable/quicksand';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Señora Garabato</title>
  </head>
  <div class="cover">
    <div class="cover-content">
      <h1 style="margin: 0;" class="title-special">Señora Garabato</h1>
      <h2 style="margin: 0;" class="list-special">Ilustración | Diseño de personajes | animación</h2>
      <a class="button-cover" href="/home">Entrar</a>
      <Greeting client:load messages={["Hola", "Bienvenido"]} />
    </div>
  </div>
</html>
