---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/portfolio.css'
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="portfolio-continer">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/portraits/IMG_7670.PNG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/portraits/IMG_7736.JPG" alt="img">
    </div>

</BaseLayout>
