---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/portfolio.css'
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="portfolio-continer">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/oldtree.PNG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/madame+cjwalker.png" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/Deep.PNG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/piano.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/Singer2.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/Singer1.PNG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/Dancer.WEBP" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/cabaret+2.png" alt="img">

        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/patinadora.png" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/BotanicSpiderma.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7285.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7311.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7313.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7314.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7316.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7317.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7318.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7319.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7320.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/IMG_7321.JPG" alt="img">
        <img class="portfolio-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/OldLady.JPG" alt="img">

    </div>

</BaseLayout>
