---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/store.css";
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="cart-secction">
    <button class="car-top-button">
      <img
        style="width: 30px;"
        src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Cesta.PNG"
        alt="carrito"
      />
    </button>
    <div id="cart-notification" class="cart-notification hidden">0</div>
  </div>
  
  <section class="store-main-container">
    <div id="store-items" class="store-container-list">
      <div class="store-container-description">
        <h1 style="font-size:30px; margin:0">pp</h1>
        <p style="font-size:14px">pp</p>
        <p style="font-size:16px">Precio desde:</p>
        <div class="store-total">
          <div class="store-quantity">
            <p style="font-size:14px">Seleccionar:</p>
            <select>
              <option value="">Seleccione</option>
            </select>
          </div>
          <p
            id="subcategory-description-<%= index %>"
            style="font-size:14px; color: gray;"
          >
          </p>
          <h4 style="font-size:25px; margin:0">
            Total:
            <b>
              <span id="local-total-<%= index %>">0</span>
            </b>
          </h4>
          <button
            class="button-55 car-button"
            id="add-button-<%= index %>"
            disabled>Añadir al carrito</button
          >
        </div>
      </div>
    </div>
  </section>
  <div id="add-to-cart-notification" class="add-to-cart-notification hidden">
    Producto añadido al carrito
  </div>
  <div id="cart-modal" class="modal">
    <div class="modal-inner">
      <div class="modal-backdrop" onclick="closeModal()"></div>
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h2>Tu Carrito</h2>
        <div id="cart-items">
          <p>Tu carrito está vacío.</p>
        </div>
        <div id="cart-total">
          <h3>Total: <span id="total-price"></span></h3>
        </div>
        <button onclick="processPayment()">Pagar con PayPal</button>
      </div>
    </div>
  </div>
</BaseLayout>
