---

---

<div class="nav-links">
  <a href="/">
    <img
      class="nav-img"
      src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/NavbarImg.PNG"
      alt="img"
    />
  </a>
  <div class="link-list">
    <a href="/home">home</a>
    <a href="/about">Quien soy</a>
    <!-- <a href="/blog">Blog</a> -->
    <a href="/tienda">Tienda</a>
  </div>
</div>
