---

---
<div class="nav-links">
  <a href="/">
  <img class="nav-img" src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/NavbarImg.PNG" alt="img">
  </a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags/">Tags</a>
</div>

<style>
  .nav-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
</style>
