---
import '@fontsource-variable/quicksand';
import '../styles/nav.css'
---

<div class="nav-links">
  <a href="/">
    <img
      class="nav-img"
      src="https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/NavbarImg.PNG"
      alt="img"
    />
  </a>
  <div class="link-list">
    <a style={{fontFamily:"'Quicksand Variable', sans-serif"}} href="/home">home</a>
    <a style={{fontFamily:"'Quicksand Variable', sans-serif"}} href="/portfolio">Galería</a>
    <a style={{fontFamily:"'Quicksand Variable', sans-serif"}} href="/about">Quien soy</a>
    <!-- <a style={{fontFamily:"'Quicksand Variable', sans-serif"}} href="/blog">Blog</a> -->
    <a style={{fontFamily:"'Quicksand Variable', sans-serif"}} href="/tienda">Tienda</a>
  </div>
</div>
